include:
  - api/docker-compose.yml

services:
  ui:
    image: swissgeol-viewer-suite/ui:local
    build:
      context: ./ui
      dockerfile: DockerfileDev
      args:
        - GITHUB_TOKEN
    init: true
    ports:
      - "8000:8000"
    environment:
      API_HOST: http://api:3000
      ABBREVIATOR_HOST: http://abbreviator:8080
    depends_on:
      - api
      - abbreviator
    volumes:
      - ./:/app
      - ui.node_modules:/app/ui/node_modules
    tmpfs:
      - /app/ui/dist

  abbreviator:
    image: ghcr.io/swisstopo/swissgeol-viewer-app-abbreviator:main
    platform: linux/amd64
    ports:
      - "8001:8080"
    environment:
      ID_LENGTH: 5
      DATABASE_URL: "sqlite:///storage/local.db"
      HOST_WHITELIST: "localhost"

  titiler:
    image: swissgeol-viewer-app/titiler:local
    build:
     context: ./titiler
     dockerfile: Dockerfile
    ports:
     - "8481:8000"
    environment:
     TITILER_API_DEBUG: "1"
    volumes:
     - ./titiler:/app:ro
    mem_limit: 2g
    cpus: 1

volumes:
  ui.node_modules:
