apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-routes
  namespace: {{ .Release.Namespace }}
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`{{ .Values.ui.host }}`)
      priority: 100
      services:
        - name: {{ .Release.Name }}-ui
          port: 80
    - kind: Rule
      match: Host(`{{ .Values.api.host }}`) && PathPrefix(`/api`)
      priority: 120
      services:
        - name: {{ .Release.Name }}-api
          port: 3000
    - kind: Rule
      match: Host(`{{ .Values.api.host }}`) && PathPrefix(`/titiler`)
      priority: 140
      middlewares:
        - name: {{ .Release.Name }}-titiler-middleware-strip-prefix
          namespace: {{ .Release.Namespace }}
        - name: {{ .Release.Name }}-titiler-middleware-cors
          namespace: {{ .Release.Namespace }}
      services:
        - name: {{ .Release.Name }}-titiler
          port: 8000
    - kind: Rule
      match: Host(`{{ .Values.abbreviator.host }}`)
      priority: 160
      services:
        - name: {{ .Release.Name }}-abbreviator
          port: 8000
